@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
}
 
.main_div{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url('../Images/Kailash.jpg'); */
}
 .carddone{
     height:100px;
 }
.Box1{
    width: 400px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: rgba(19, 10, 31, 0.8);
    border-radius: 10px;
 
}
 
.Box1 h1{
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
 
.Box1 .inputBox{
    position: relative;
}
 
.Box1  .inputBox input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid rgb(138, 121, 121);
    background: transparent;
    outline: none;
 
}
 
.Box1 .inputBox label{
    position:absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 10px;
    color: rgb(241, 216, 216);
    transition: 0.5s;
}

/* *for contact scss/* */

.contactuspage{
    margin-left: 180px;
}


/*     
    .bg {
    background-image: url('../Images/jaredrice.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } */

    .card{
        margin-left: 180px;
    }

    .container{
        margin-right: 350px;
    }